body{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 10%;
    border: 2px solid black;
    margin: 20px;
}

.btn1{
    background-color: #f99b45;
}
.btn2{
    background-color: #d95980;
}
.btn3{
    background-color: #819ff9;
}
.btn4{
    background-color: #63aac0;
}
.flash{
    opacity: 0.5;
    transition: background-color 0.5s ease;
    background-color: white;
}